@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UserPage";
    if (Session["Username"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

@using eUseControl.Domain.Enums
@using eUseControl.Extension
@model eUseControl.Models.UserData

<div class="container" style="margin-top: 1%;">
    <div>
        <h1>User Details</h1>
    </div>
    <p>Name: @Html.DisplayFor(u => u.Username) #@Html.DisplayFor(u => u.Id)</p>
    <p>Email: @Html.DisplayFor(u => u.Email)</p>
    <p>Status: @Html.DisplayFor(u => u.Level)</p>

</div>
<div style="height: 11em;"></div>